.Cell {
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    width: 11.111%;
    height: 11.111%;
}

.Cell input {
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: inherit;
    width: 85%;
    height: 85%;
    border: none;
    outline: none;
}