.Grid table {
    border: 3px solid black;
    border-collapse: collapse;
    width: 90vh;
    height: 90vh;
    min-width: 300px;
    min-height: 300px;
  }

.Grid th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }

.Grid td:nth-child(3n) {
    border-right:solid ;
  }

.Grid tr:nth-child(3n) td {
    border-bottom:solid ;
  } 