table {
    border: 3px solid black;
    border-collapse: collapse;
    width: 400px;
    height: 400px;
  }

  th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }